@import './reset.css';

:root {
	--fc-black-500: rgba(0, 0, 0, 0.65);

	--fc-green-800: #00695f;

	--bg-color-500: rgb(205, 205, 205);

	--border-color-500: #b9b9b9;
	--b-green-900: rgba(0, 79, 0, 0.905);

	--fs-xs: 0.625rem;
	--fs-sm: 0.875rem;
	--fs-reg: 1rem;
	--fs-md: 1.2rem;

	--fw-400: 400;
	--fw-500: 500;
	--fw-700: 700;
	--fw-800: 800;
}

h1,
div,
a,
p {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
	font-size: 1.875rem;
	font-weight: 700;
}

.bg-rsi-1 {
	background-color: #ecf0f1;
}

.bg-rsi-2 {
	background-color: #f5f5f5;
}

.bg-gray-200 {
	background-color: rgb(229 231 235);
}

body {
	background-color: #f5f5f5;
}

/* UTILITY CLASSES */
.border {
	border: 1px solid var(--border-color-500);
	padding: 1rem 1.5rem;
	border-radius: 5px;
}

.fc-black-500 {
	color: var(--fc-black-500);
}

.fc-green-800 {
	color: var(--fc-green-800);
}

.fc-blue-800 {
	color: var(--fc-blue-800);
}

.text-center {
	text-align: center;
}

.fs-xs {
	font-size: var(--fs-xs);
	line-height: 1.25rem;
}

.fs-sm {
	font-size: var(--fs-sm);
	line-height: 1.25rem;
}

.fs-reg {
	font-size: var(--fs-reg);
}

.fs-md {
	font-size: var(--fs-md);
}

.fw-reg {
	font-weight: var(--fw-400);
}

.fw-semibold {
	font-weight: var(--fw-500);
}

.fw-bold {
	font-weight: var(--fw-700);
}

.fw-extrabold {
	font-weight: var(--fw-800);
}
